@model CodingTest.Models.Employee

@{
	ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

@{
	if (Context.Request.Query["employeeid"].Count > 0)
	{
		// Pulls the current EmployeeId from the URL Query, then fetches the Employee object
		Employee? _employee = CodingTest.Controllers.HomeController.GetEmployee(int.Parse(Context.Request.Query["employeeid"][0]));
		if (_employee == null)
		{
			<h4>Employee ID Not Found</h4>
		}
		else
		{
			<h4>Employee ID @_employee.EmployeeId</h4>
			<hr />
			<div class="row">
				<div class="col-md-4">
					<form asp-action="Edit">
						<div asp-validation-summary="ModelOnly" class="text-danger"></div>
						<input type="hidden" asp-for="EmployeeId" value="@_employee.EmployeeId"/>
						<div class="form-group">
							<label asp-for="Name" class="control-label">Name</label>
							<input asp-for="Name" class="form-control"value="@_employee.Name" />
							<span asp-validation-for="Name" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label asp-for="Address" class="control-label">Address</label>
							<input asp-for="Address" class="form-control" value="@_employee.Address"/>
							<span asp-validation-for="Address" class="text-danger"></span>
						</div>
						<div class="form-group">
							<input type="submit" value="Save" class="btn btn-primary" />
						</div>
					</form>
				</div>
			</div>
		}
	}
	else
	{
		<h4>Please provide a query</h4>
	}

}


<div>
	<a asp-action="Index">Back to List</a>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	}