@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Site Functionality and Design by Joshua Bingham</p>


<p>New Employee Ids are created using a BOGO method, where a random int between</p>
<p>0 and MAXINT is generated, then checked against existing Ids. If no Employee</p>
<p>with that Id has been made, then that Id is assigned. This implementation is inefficent,</p>
<p>and should probably not be implemented in a production environment. Much like this page of </p>
<p>one line &lt;p&gt; blocks. This however isn't a production environment, and I got a chuckle</p>
<p>out of it. I hope you do too.</p>
